<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}GALLERY{% endblock %}</title>
</head>
<body>
{% block content %}
<br><br>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'gallery-view' %}">View</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'add-to-gallery' %}">Add to Gallery</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
</ul>
<br>
<div class="row">
    {% for item in object_list %}
    <div class="col">
        <figure class="figure" style="width: 18rem">
            <img src="{{ item.image.url }}" class="figure-img img-fluid rounded"
                 alt="..." height="300" width="300">
            <figcaption class="figure-caption text-center">{{ item.caption }}</figcaption>
        </figure>
    </div>
    {% endfor %}
</div>
{% endblock %}
</body>
</html>